<article id="content" class="fullWidthAbsolute" >
    <h1 data-bind="text: title"></h1>
    <div>
        <p data-bind="text: introduction"></p>
        <img class="widthWithoutThickBorder thickBorder" data-bind="attr:{src: imagePath, alt: imageDescription}"/>
        <div id="ingredients">
            <h2>Ingredients</h2>
            <ul data-bind="foreach: ingredients">
                <li data-bind="text: $data"></li>
            </ul>
        </div>
    </div>
</article>
