html { 
	background: url('../../images/bg_blur.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a {
    text-decoration: none;
    color: #FFF;
}

/**** HEADER ****/
header {
    width: 600px;
    position: absolute;
    z-index: -1;
    right: 0;
}

#logo {
    font-family: OstrichSansBold, 'Six Caps', sans-serif;
    font-size: 80px;
    color: #FFF;
    background-color: #A0BAB7;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    text-align: center;
    line-height: 75px;
    margin: 50px 50px 0 0;
}

#quote {
    background-color: #D95250;
    width: 400px;
    height: 400px;
    border-radius: 200px;
    margin: 50px 50px 0 0;
}

.quoteText {
    font-family: "Lobster Two", 'Six Caps', sans-serif;
    color: #333;
    font-size: 25px;
    position: absolute;
    padding-top: 120px;
    padding-left: 80px;
    max-width: 250px;
}

#logo a {
    display: block;
    padding-top: 75px;
}

/***** CONTENT *****/

h1,h2,h3 {
    font-family: 'Wire One';
    
}

h1 {
    font-size: 60px;
    color: #D95250;
}

h2 {
    color: #3F8E77;
    font-size: 40px;
}

#content {
    font-family: 'Century Gothic', 'Advent Pro';
    background-color: rgba(33,33,33, 0.9);
    padding: 20px;
    line-height: 1.5em;
    font-size: 16px;
    border-radius: 8px;
    margin: 50px auto 20px auto;
    color: #FFF;
    z-index: 10;
}

#content li {
    list-style: circle;
}

/***** FOOTER ******/

footer {
    color: #FFF;
    font-family: 'Lobster Two';
    font-size: 18px;
    border-top: solid 1px;
    padding: 5px 100px 20px 100px;
}

/***** GENERAL *****/
.fullWidth {
    width: 100%;
}

.fullWidthAbsolute {
    width: 600px;
}

.widthWithoutThickBorder {
    width: 588px;
}

.thickBorder {
    border: solid 6px;
}

.wrapAround {
    overflow: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}

.autoMarginHorizontal {
    margin-left: auto;
    margin-right: auto;
}

.centerText {
    text-align: center;
}

.italic {
    font-style: italic;
}

/*
font-family: 'Wire One', sans-serif;
font-family: 'Advent Pro', sans-serif;
font-family: 'Six Caps', sans-serif;
*/

.palette {
    background-color: #3F8E77;
    color: #D95250;
    border-color: #A0BAB7;
}